
venv/
.venv/
env/
ENV/
__pycache__/
*.py[cod]


.vscode/
.idea/


dbt_project/target/
dbt_project/logs/
dbt_project/profiles.yml
dbt_project/.user.yml
.dbt/


data/**

!data/
!data/README.md
!data/.gitkeep
!data/air_results.parquet
!data/fair_lending_results.parquet
!data/regression_results.parquet
!data/z_test_results.parquet


.DS_Store
Thumbs.db